
[submodule "SoarDrivers"]
	path = SoarDrivers
	url = https://github.com/UCSOAR/PeripheralDriversSubmodule.git
	branch = master
[submodule "SoarOS"]
	path = SoarOS
	url = https://github.com/UCSOAR/SoarOperatingSystem.git
	branch = master
